<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="107.1.9" targetFramework="net472" />
  <package id="cef.redist.x86" version="107.1.9" targetFramework="net472" />
  <package id="CefSharp.Common" version="107.1.90" targetFramework="net472" />
  <package id="CefSharp.WinForms" version="107.1.90" targetFramework="net472" />
  <package id="CircularProgressBar" version="2.8.0.16" targetFramework="net472" />
  <package id="FontAwesome.Sharp" version="6.1.1" targetFramework="net472" />
  <package id="Google.Apis" version="1.60.0" targetFramework="net472" />
  <package id="Google.Apis.Auth" version="1.60.0" targetFramework="net472" />
  <package id="Google.Apis.Core" version="1.60.0" targetFramework="net472" />
  <package id="Google.Apis.Gmail.v1" version="1.60.0.2958" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.2" targetFramework="net472" />
  <package id="OpenHardwareMonitor" version="0.9.6" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="20.3.0.57" targetFramework="net472" />
  <package id="Syncfusion.SfGauge.WPF" version="20.3.0.57" targetFramework="net472" />
  <package id="Syncfusion.Shared.WPF" version="20.3.0.57" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.CodeDom" version="7.0.0" targetFramework="net472" />
  <package id="System.Management" version="7.0.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.5" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net472" />
  <package id="WinFormAnimation" version="1.6.0.4" targetFramework="net472" />
  <package id="Xamarin.Essentials" version="1.7.3" targetFramework="net472" />
  <package id="Xamarin.Forms" version="5.0.0.2515" targetFramework="net472" />
</packages>